<a href="https://colab.research.google.com/github/ProsperChuks/wine-quality-prediction/blob/main/base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dependencies

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statistics import mean
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import recall_score, precision_score, accuracy_score, f1_score, confusion_matrix
import sklearn.utils
from scipy.special import expit
from imblearn.over_sampling import SMOTE

## Load DataSet

In [2]:
path = '/content/drive/MyDrive/Colab Notebooks/Wine Quality Project/winequality-red.csv'

dataframe = pd.read_csv(path, error_bad_lines=False)
dataframe

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

## Processing the data

In [3]:
correlation = dataframe.corr()['quality'].drop(['quality'])

columns_to_drop = ['citric acid', 'chlorides',
                   'residual sugar','quality',
                   'free sulfur dioxide',
                   'total sulfur dioxide',
                   'pH', 'sulphates']

scaler = MinMaxScaler()
normalized_df = scaler.fit_transform(dataframe.drop(columns_to_drop, axis=1))
features = pd.DataFrame(normalized_df, columns=dataframe.drop(columns_to_drop, axis=1).columns)
target = dataframe['quality']

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=30)
x_test

      fixed acidity  volatile acidity   density   alcohol
1147       0.477876          0.198630  0.510279  0.523077
659        0.221239          0.493151  0.508811  0.400000
871        0.203540          0.301370  0.378120  0.338462
1333       0.398230          0.448630  0.552863  0.184615
1411       0.159292          0.239726  0.457416  0.338462
...             ...               ...       ...       ...
72         0.274336          0.390411  0.442731  0.169231
754        0.283186          0.246575  0.476505  0.107692
1059       0.380531          0.246575  0.425110  0.569231
1400       0.292035          0.390411  0.450073  0.230769
1330       0.247788          0.328767  0.447137  0.215385

[480 rows x 4 columns]

## Training the data
using Linear Regression

In [4]:
model = LinearRegression().fit(x_train, y_train)
pred = model.predict(x_test)
model.score(x_test, y_test)

0.32801211414081044

In [5]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, pred)
print('%.3f'%mae, 'MAE')

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred))
print('%.3f'%rmse, 'RMSE')

from sklearn.metrics import r2_score
r2 = r2_score(y_test, pred)
print('%.3f'%r2, 'R-Squared')

0.531 MAE
0.672 RMSE
0.328 R-Squared

## Training with a classification model

### pre-processing data for classification

In [6]:
print(dataframe['quality'].value_counts())

dataframe['quality'] = dataframe['quality'].replace([3], 4)
dataframe['quality'] = dataframe['quality'].replace([8], 7)
print(dataframe['quality'].value_counts())

dataframe = dataframe.drop('residual sugar', axis=1)
X = dataframe.drop('quality', axis=1)
y = dataframe.quality

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=10)
y_train.value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64
5    681
6    638
7    217
4     63
Name: quality, dtype: int64

5    407
6    390
7    126
4     36
Name: quality, dtype: int64

### training the data

In [15]:
smote = SMOTE(random_state=1)
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)

x_train_balanced = pd.DataFrame(x_train_balanced, columns=x_train.columns)
y_balanced = pd.DataFrame(y_balanced, columns=['quality'])

normalized_train = scaler.fit_transform(x_train_balanced)
normalized_train = pd.DataFrame(normalized_train, columns=x_train_balanced.columns)

normalized_test = scaler.fit_transform(x_test)
normalized_test = pd.DataFrame(normalized_test, columns=x_train_balanced.columns)

model = LogisticRegression(C=1).fit(normalized_train, y_balanced)
pred = model.predict(normalized_test)
model.score(normalized_train, y_balanced)

accuracy = accuracy_score(y_test, pred)
print('%.2f'%accuracy, 'Accuracy')

precision = precision_score(y_test, pred, average='micro')
print('%.4f'%precision, 'Precision')

0.40 Accuracy
0.3953 Precision

re-defining model;</br>

pipeline

In [8]:
X = dataframe.drop(['quality'], axis=1)
y = dataframe['quality']

pipe = Pipeline([
    ('scaler', MinMaxScaler()),
    ('model', LogisticRegression(C=1, penalty='l2', solver='lbfgs', l1_ratio=0))
])

_model_2 = GridSearchCV(estimator=pipe, param_grid={
    'model__C': [1,2,3,4,5,6,7,8,9,10],
    'model__penalty': ['l2', 'l1', 'elasticnet'],
    'model__solver': ['lbfgs', 'sag', 'saga', 'liblinear', 'newton-cg'],
    'model__l1_ratio': [0, 1]
}, cv=10)

_model_2.fit(X, y)
pd.DataFrame(_model_2.cv_results_).to_csv('/content/drive/MyDrive/Colab Notebooks/Wine Quality Project/cv_tests_result.csv', index=False)

In [11]:
pred = _model_2.predict(dataframe2.drop(['residual sugar', 'quality'], axis=1))

print('%.2f'%_model_2.score(X, y ), 'Model score')
accuracy = accuracy_score(dataframe2['quality'], pred)
print('%.2f'%accuracy, 'Accuracy')

rmse = np.sqrt(mean_squared_error(dataframe2['quality'], pred))
print('%.3f'%rmse, 'RMSE')

precision = precision_score(dataframe2['quality'], pred, average='micro')
print('%.4f'%precision, 'Precision')

0.61 Model score
0.41 Accuracy
0.992 RMSE
0.4136 Precision

### adding more data

In [10]:
path = '/content/drive/MyDrive/Colab Notebooks/Wine Quality Project/winequality-white.csv'
global dataframe2
dataframe2 = pd.read_csv(path)
dataframe2.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [12]:
drop_columns = ['free sulfur dioxide',
                'total sulfur dioxide',
                'density']

X2 = dataframe2.drop(['residual sugar', 'quality'], axis=1)
y2 = dataframe2['quality']

x_train_2, x_test_2, y_train_2, y_test_2 = train_test_split(X2, y2, test_size=0.5)
new_train_set_X = X.append(x_train_2)
new_train_set_y = y.append(y_train_2)

new_train_set_X = sklearn.utils.shuffle(new_train_set_X)
new_train_set_y = sklearn.utils.shuffle(new_train_set_y)
new_train_set_X = new_train_set_X.reset_index(drop=True)
new_train_set_y = new_train_set_y.reset_index(drop=True)

new_train_set_X = new_train_set_X.drop(drop_columns, axis=1)
x_test_2 = x_test_2.drop(drop_columns, axis=1)
x_test_2

      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
151             7.6              0.18         0.46  ...  3.14       0.43      9.9
2313            6.8              0.32         0.30  ...  3.33       0.63     12.6
2147            6.4              0.29         0.20  ...  3.10       0.54     10.6
2294            7.0              0.32         0.31  ...  3.38       0.58     12.2
739             6.4              0.25         0.30  ...  3.14       0.49      9.6
...             ...               ...          ...  ...   ...        ...      ...
929             6.1              0.36         0.58  ...  3.15       0.51      9.0
3624            6.6              0.36         0.28  ...  3.19       0.27     12.8
1373           10.7              0.22         0.56  ...  2.87       0.68      9.5
2641            6.1              0.15         0.35  ...  3.24       0.37     10.6
1874            7.9              0.29         0.31  ...  3.06       0.31     10.8

[2449 rows x 7 columns]

### result for Log regression

the best parameters extracted to use train the model didn't have good metric score, they had an ok performance on training set, but a bad one on the testing test