<a href="https://colab.research.google.com/github/ProsperChuks/wine-quality-prediction/blob/main/base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dependencies

In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

## Load DataSet

In [155]:
path = '/content/drive/MyDrive/Colab Notebooks/Wine Quality Project/winequality-red.csv'

dataframe = pd.read_csv(path, error_bad_lines=False)
dataframe

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

## Processing the data

In [158]:
correlation = dataframe.corr()['quality'].drop(['quality'])

scaler = MinMaxScaler()
normalized_df = scaler.fit_transform(dataframe.drop(['residual sugar','quality'], axis=1))
features = pd.DataFrame(normalized_df, columns=dataframe.drop(['residual sugar','quality'], axis=1).columns)
y = dataframe['quality']

      fixed acidity  volatile acidity  ...  sulphates   alcohol
0          0.247788          0.397260  ...   0.137725  0.153846
1          0.283186          0.520548  ...   0.209581  0.215385
2          0.283186          0.438356  ...   0.191617  0.215385
3          0.584071          0.109589  ...   0.149701  0.215385
4          0.247788          0.397260  ...   0.137725  0.153846
...             ...               ...  ...        ...       ...
1594       0.141593          0.328767  ...   0.149701  0.323077
1595       0.115044          0.294521  ...   0.257485  0.430769
1596       0.150442          0.267123  ...   0.251497  0.400000
1597       0.115044          0.359589  ...   0.227545  0.276923
1598       0.123894          0.130137  ...   0.197605  0.400000

[1599 rows x 10 columns]